name: Build Myau V3

on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # IMPORTANT: ensures latest commit is used

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build --stacktrace

      - name: Upload built jar
        uses: actions/upload-artifact@v4
        with:
          name: Myau-V3
          path: build/libs/*.jar
